.h1-container h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.navbar {
    background-color:darkslategrey;
}

.container-fluid .navbar-brand {
    font-weight:600;
    color: white;
}

.container-fluid .navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler .navbar-toggler-icon {
    color: white;
}

.card-container, .h1-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.carousel-container .carousel {
    margin-top: 50px;
    width: 100%;
}

.carousel-container .carousel img {
    height: 500px;
    object-fit: cover;
}

